/*defino fonts importados de web para todo el proyecto*/
    @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*reseteo de valores*/
    *{
    margin:0;
   padding:0;
   box-sizing: border-box; /*para que la caja no crezca con el padding*/
}
/*generalidades*/
main{
    background-color: #534d4db9;
}
h1{
    font-family: "Roboto", sans-serif;
    font-size: 4rem;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 20px;
    padding-top: 5vh;
}
h2{
    font-family: "Roboto", sans-serif;
    font-size: 2.1rem;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
footer{
    background-image: linear-gradient(to right, #e05372, #d36740, #ae7f1f, #7d922a, #389d57);
    li{
        padding-top: 20px;
        padding-left: 40px;
    }
}
.header{
    height: 10vh;
    position:sticky;
    top:0; 
    z-index: 10; 
    nav{
        background-image: linear-gradient(to right, #e05372, #d36740, #ae7f1f, #7d922a, #389d57);
        height: 100%;
        display:flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 15px;
        a{
            text-decoration: none;
            color: var(--main-color);
            font-size:1.6rem;
        }
        ul{
            list-style: none;
            display:flex;
            column-gap: 20px;
            a{
                font-size:1.4rem;
            }
           
        }
    }
}
.header1{
    height: 10vh;
    background-image: linear-gradient(to right, #e05372, #d36740, #ae7f1f, #7d922a, #389d57);
}
/*main
estilos seccion principal
*/
.seccionTitulos{
    height: 90vh;
    background:linear-gradient(to bottom, #000000a3, #000000a3),url("../assets/img/clima.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    .contenedorClima{
        color: beige;
        text-align: left;
        
       p{
            margin-top: 5px;
            font-size: 1.5rem;
            padding:10px 20px;
        }
    }  
}
.sectionTitulos{
    height: 90vh;
    background:linear-gradient(to bottom, #000000a3, #000000a3),url("../assets/img/img1/television-5017870_640.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: left;
    align-items: center;
    .contenedorTitulos{
        color: beige;
        text-align: center;
        /*efecto blur a un contenedor
        backdrop-filter: blur(
            10px);*/
        width: 35%;
        a{
            margin-top: 20px;
            display: inline-block;
            text-decoration: none;
            color:var(--main-color);
            font-size: 2rem;
            border:2px solid var(--main-color);
            border-radius: 5px;
            padding:10px 20px;
        }
    }
}
.peliculasTendencias2{
    width: 80%;
    margin:0 auto;
    text-align: center;
    h2{
        margin-bottom:20px;
    }
}
.peliculasTendencias{
    width: 80%;
    margin:0 auto;
    text-align: center;
    h2{
        margin-top:50px;
        margin-bottom:20px;
    }
}
.galeriaTendencias{
        display:flex;
        justify-content: space-evenly;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 20px;
        div{
            width: 250px;
            height: 350px;
            box-shadow: 10px 10px 47px -6px rgba(255,255,255,0.42);
            border-radius: 5px;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }
    }
    button {
        padding: 10px 20px;
        background-color: #49aa1cea;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

/*estilos de section peliculas aclamadas*/
.peliculasAclamadas{
    width: 80%;
    margin:0 auto;
    text-align: center;
    h2{
        margin-top:50px;
        margin-bottom:20px;
    }
    .galeriaAclamadas{
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: start;
        column-gap: 30px;
        div{
            width: 220px;
            height: 350px;
            flex-shrink: 0;
            box-shadow: 10px 10px 47px -45px rgba(255,255,255,0.29);
           
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 5px;
            }
        }
    }
}
.imgDetalle{
    width: fit-content;
    display: inline-block;
}
.textoDetalle{
    text-align: center;
    display: inline-block;
    width: fit-content;
    transform: translate(0,-100px);
}
.buscando{
    background-image: linear-gradient(to right, #e05372, #d36740, #ae7f1f, #7d922a, #389d57);

    display: flex;
    display: block;
    text-align: center;
    height: 80px;
}
.contenedorInicioSesion{
    text-align: center;
}
.separar1{
    margin-top: 5vh;
}
.separar{
     margin-bottom: 15vh;
}
.separar2{
    margin-top: 2vh;
}
.contenedorRegistrarse{
    display: flex;
    height: 90vh;
    margin-left: 40%;
    text-align: center;
}
.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: center;
    margin-bottom: 5px;
}
select[type="text"],
input {
    width: 200px;
    height: 25px;
    border: 2px solid #ccc;
    border-radius: 5px;
}


@media screen and (width <= 1000px)
{
    h1{
       font-size: 2.5rem;   
    }
    .header{
        height: initial;
        nav{
            flex-direction: column;
        }

        }
    
.contenedorRegistrarse{
    margin-left: 30%;
}

    .textoDetalle{
        h1{
            font-size: 2.5rem;
        }
        h2{
            font-size: 2rem;
        }
    }
    .header1{
       display: inline-block;
       width: 100%;
       background-image: linear-gradient(to right, #e05372, #d36740, #ae7f1f, #7d922a, #389d57);
    }
       
}